<h1 class="mat-display-1;" style="text-align: center;  margin-top: 1.5%;">Your job advertisements</h1>

<div style="padding-left:2%;float: left;padding-top: 5%;width:95%">
  <app-table [dataSource]="interests" [columnsToDisplay]="['Job ad title', 'Handyman first name', 'Handyman last name',
  'Handyman email', 'Estimated price', 'Estimated days', 'Handyman details interest', 'Make a job deal']"
             [columnsToIterate]="['title', 'firstName', 'lastName',
             'email', 'estimatedPrice', 'estimatedDays']" (MakeJobDeal)="makeJobDeal($event)" (HandymanDetails)="handymanDetails($event)"></app-table>

</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-atom">
</ngx-spinner>
