<mat-card  class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Training</mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>
      <p><b>Rest time: </b> {{model.restTime}} </p>
          <mat-card style="margin-top: 2%;" *ngFor="let session of model.sessions" class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{session.exerciseDTO.name}}</mat-card-title>
            <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <mat-card-content>
            <p><b>Description: </b>{{session.exerciseDTO.description}}</p>
            <p><b>Difficulty: </b> {{session.exerciseDTO.difficulty}}</p>
            <p><b>Category: </b> {{session.exerciseDTO.exerciseCategory}}</p>
            <p><b>Repetitions: </b>{{session.repetitions}}</p>
            <p><b>Weights: </b>{{session.weight}} kg</p>
            <p><b>Duration: </b>{{session.duration}} seconds</p>
          </mat-card-content>
      </mat-card>  
    </mat-card-content>
  </mat-card>