<div>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" style="display: block">
      <mat-label>Vasi oglasi za posao</mat-label>
      <mat-select [formControl]="form.controls.selectedJobAd">
        <mat-option *ngFor="let jobAd of jobAds" [value]="jobAd.id">{{jobAd.title}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div>
  <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="finish()">Posalji</button>
  <button style="margin-left: 2%" mat-raised-button color="primary" (click)="cancel()">Izadji</button>
</div>
