<div>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" style="display: block">
      <mat-label>Vasi oglasi za posao</mat-label>
      <mat-select [formControl]="form.controls.selectedJobAd">
        <mat-option *ngFor="let jobAd of jobAds" [value]="jobAd.id">{{jobAd.title}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div>
  <button (click)="finish()" [disabled]="form.invalid" color="primary" mat-raised-button>Posalji</button>
  <button (click)="cancel()" color="primary" mat-raised-button style="margin-left: 2%">Izadji</button>
</div>
