<div>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" style="display: block">
      <mat-label>Your job ads</mat-label>
      <mat-select [formControl]="form.controls.selectedJobAd">
        <mat-option *ngFor="let jobAd of jobAds" [value]="jobAd.id">{{jobAd.title}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div>
  <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="finish()">Finish</button>
</div>
