<div style="float: left; width: 40%; padding-top: 5%; padding-left: 7%">

  <div style="float: left; width: 40%; padding-left: 20%;">

    <form [formGroup]="form" (ngSubmit)="editProfile()">

      <mat-form-field appearance="outline" style="display: block">
        <mat-label> Email </mat-label>
        <input [formControl]="form.controls.email" matInput id="email" name="email" placeholder="Email">
        <mat-error *ngIf="form.controls.email.touched && form.controls.email.errors?.required">
          Name must be filled!</mat-error >
        <mat-error *ngIf="form.controls.email.touched && form.controls.email.errors?.email">
          Email is invalid!</mat-error >
      </mat-form-field>

      <mat-form-field appearance="outline" style="display: block">
        <mat-label> First name </mat-label>
        <input [formControl]="form.controls.firstName" matInput id="firstName" name="firstName" placeholder="First name">
        <mat-error *ngIf="form.controls.firstName.touched && form.controls.firstName.errors?.required">
          First name must be filled!</mat-error >
      </mat-form-field>

      <mat-form-field appearance="outline" style="display: block">
        <mat-label> Last name </mat-label>
        <input [formControl]="form.controls.lastName" matInput id="lastName" name="lastName" placeholder="Last name">
        <mat-error *ngIf="form.controls.lastName.touched && form.controls.lastName.errors?.required">
          Last name must be filled!</mat-error >
      </mat-form-field>

      <mat-form-field appearance="outline" style="display: block">
        <mat-label> Address </mat-label>
        <input [readonly]="true" [formControl]="form.controls.address" matInput id="address" name="address" placeholder="Address">
      </mat-form-field>

      <button id="saveButton" [disabled]="form.invalid" style="margin-top: 5%;float:right;background-color: green" mat-raised-button type="submit">Edit profile</button>

    </form>

  </div>

</div>

<div style="padding-right: 3%;float: right;padding-top: 2%;width: 50%;">

  <app-map [latitude]="currentLocation.latitude" [longitude]="currentLocation.longitude"
           (DragEnd)="dragEnd($event)"
           [draggable]="true" [showCircle]="false" >
  </app-map>

</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-atom">
  <p style="font-size: 20px; color: white">Stay tuned, we're editing your profile you ...</p>
</ngx-spinner>
