<div style="float: left; width: 40%; padding-top: 5%; padding-left: 7%">

  <div style="float: left; width: 40%; padding-left: 20%;">

    <form (ngSubmit)="editProfile()" [formGroup]="form">

      <mat-form-field appearance="outline" style="display: block">
        <mat-label> Email</mat-label>
        <input [formControl]="form.controls.email" id="email" matInput name="email" placeholder="Email">
        <mat-error *ngIf="form.controls.email.touched && form.controls.email.errors?.required">
          Ovo polje ne sme biti prazno!
        </mat-error>
        <mat-error *ngIf="form.controls.email.touched && form.controls.email.errors?.email">
          Email nije validan!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="display: block">
        <mat-label> Ime</mat-label>
        <input [formControl]="form.controls.firstName" id="firstName" matInput name="firstName" placeholder="Ime">
        <mat-error *ngIf="form.controls.firstName.touched && form.controls.firstName.errors?.required">
          Ovo polje ne sme biti prazno!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="display: block">
        <mat-label> Prezime</mat-label>
        <input [formControl]="form.controls.lastName" id="lastName" matInput name="lastName" placeholder="Prezime">
        <mat-error *ngIf="form.controls.lastName.touched && form.controls.lastName.errors?.required">
          Ovo polje ne sme biti prazno!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="display: block">
        <mat-label> Adresa</mat-label>
        <input [formControl]="form.controls.address" [readonly]="true" id="address" matInput name="address"
               placeholder="Adresa">
      </mat-form-field>

      <button [disabled]="form.invalid" id="saveButton" mat-raised-button
              style="margin-top: 5%;float:right;background-color: green" type="submit">Izmeni profil
      </button>

    </form>

  </div>

</div>

<div style="padding-right: 3%;float: right;padding-top: 2%;width: 50%;">

  <app-map (DragEnd)="dragEnd($event)" [draggable]="true"
           [latitude]="currentLocation.latitude"
           [longitude]="currentLocation.longitude" [showCircle]="false">
  </app-map>

</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  color="#fff"
  size="medium"
  type="ball-atom">
</ngx-spinner>
