<mat-toolbar color="primary">

  <a routerLink="/" id="home-nav" style="margin-left: 0.1%;" ><mat-icon [ngStyle]="{'color':'white'}">home</mat-icon></a>
  <span style="padding-left: 2%">Handyman Hunt</span>
  <a routerLink="/handyman/jobad-dashboard" style="margin-left: 5%;" ><button style="width: 90%;margin-bottom: 5%" mat-flat-button color="primary" id="create-zahtev">Job advertisements</button></a>
  <a routerLink="/handyman/jobs-dashboard" style="padding-left: 2%" ><button style="width: 20%;margin-bottom: 5%" mat-flat-button color="primary">Jobs</button></a>
  <a routerLink="/handyman/offers-dashboard" style="padding-left: 2%" ><button style="width: 20%;margin-bottom: 5%" mat-flat-button color="primary">Offers</button></a>
  <span style="width: 80%"></span>

  <a routerLink="/handyman/profile" style="margin-right: 2%;" id="view-profile"><mat-icon [ngStyle]="{'color':'white'}">face</mat-icon></a>
  <a routerLink="/" style="margin-left: 0.5%;" ><mat-icon (click)="logOutHandyman()" [ngStyle]="{'color':'white'}">exit_to_app</mat-icon></a>

</mat-toolbar>
