<div style="float: left; width: 60%; padding-top: 2%; padding-left: 2%">

  <div style="float: left; width: 90%; padding-left: 2%;">

    <mat-horizontal-stepper (selectionChange)="changedMatStep($event)" linear>
      <mat-step [stepControl]="firstForm">
        <form [formGroup]="firstForm">
          <ng-template matStepLabel>Naslov i opis</ng-template>
          <mat-form-field appearance="outline" style="display: block">
            <mat-label> Naslov</mat-label>
            <input [formControl]="firstForm.controls.title" id="title" matInput name="title" placeholder="Naslov">
            <mat-error *ngIf="firstForm.controls.title.touched && firstForm.controls.title.errors?.required">
              Ovo polje ne sme biti prazno!
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" style="display: block">
            <mat-label> Opis</mat-label>
            <textarea [formControl]="firstForm.controls.description" id="description" matInput name="description"
                      placeholder="Opis posla. Molimo da budete sto detaljniji da bi majstori znali koju sumu novca da predloze."
                      rows="15"></textarea>
            <mat-error
              *ngIf="firstForm.controls.description.touched && firstForm.controls.description.errors?.required">
              Ovo polje ne sme biti prazno!
            </mat-error>
          </mat-form-field>
          <div *ngFor="let picture of pictures" style="display: inline-block">
            <img (click)="clickedPicture(picture)" [src]=picture [title]="'Klik da biste obrisali'"
                 alt="https://via.placeholder.com/200" class="picture" style="max-width:400px;max-height:200px;"/>
          </div>
          <br>
          <button (click)="fileInput.click()" [disabled]="pictures.length === 5" mat-raised-button style="margin-right: 3%;"
                  type="button">Dodaj slike
          </button>
          <input #fileInput (change)="onFileChanged($event)" hidden id="file" type="file">

          <div style="padding-top: 5%">
            <button (click)="clicked('firstFormNext')" [disabled]="firstForm.invalid || pictures.length < 5" mat-button
                    matStepperNext>Sledece
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondForm">
        <form [formGroup]="secondForm">
          <ng-template matStepLabel>Adresa i datum</ng-template>
          <mat-form-field appearance="outline" style="display: block">
            <mat-label> Adresa</mat-label>
            <input [formControl]="secondForm.controls.address" [readonly]="true" id="address" matInput name="address"
                   placeholder="Adresa">
          </mat-form-field>

          <mat-form-field appearance="outline" style="display: block">
            <mat-label>Izaberi datum:</mat-label>
            <input [formControl]="secondForm.controls.date" [matDatepicker]="picker" [min]="fiveDaysAhead" [readonly]="true"
                   id="date" matInput>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <div>
            <button (click)="clicked('secondFormBack')" mat-button matStepperPrevious>Nazad</button>
            <button (click)="clicked('secondFormNext')" [disabled]="secondForm.invalid" mat-button matStepperNext>
              Sledece
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdForm">
        <form [formGroup]="thirdForm">
          <ng-template matStepLabel>Tip posla</ng-template>
          <mat-form-field appearance="outline" style="display: block">
            <mat-label>Kategorije</mat-label>
            <mat-select (selectionChange)="selectionChange($event, 'category')"
                        [formControl]="thirdForm.controls.category">
              <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" style="display: block">
            <mat-label>Profesije</mat-label>
            <mat-select (selectionChange)="selectionChange($event, 'profession')"
                        [formControl]="thirdForm.controls.profession">
              <mat-option *ngFor="let profession of professions"
                          [value]="profession.id">{{profession.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" style="display: block">
            <mat-label>Usluge</mat-label>
            <mat-select [formControl]="thirdForm.controls.selectedTrades" multiple>
              <mat-option *ngFor="let trade of trades" [value]="trade.name">{{trade.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button (click)="clicked('thirdFormBack')" mat-button matStepperPrevious>Nazad</button>
            <button (click)="clicked('thirdFormNext')" [disabled]="thirdForm.invalid" mat-button matStepperNext>
              Sledece
            </button>
          </div>

        </form>
      </mat-step>
      <mat-step>
        <form [formGroup]="fourthForm">
          <ng-template matStepLabel>Dodatni podaci</ng-template>
          <div *ngIf="fillOutAdditionalData">
            <mat-form-field appearance="outline" style="display: block">
              <mat-label>Hitno?</mat-label>
              <mat-select (selectionChange)="selectionChange($event, 'urgent')"
                          [formControl]="fourthForm.controls.urgent">
                <mat-option *ngFor="let urgent of urgents" [value]="urgent.boolVal">{{urgent.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="display: block">
              <mat-label> Budzet</mat-label>
              <input [formControl]="fourthForm.controls.maxPrice" id="maxPrice" matInput name="maxPrice" placeholder="Budzet"
                     type="number">
            </mat-form-field>
          </div>
          <div>
            <button (click)="clicked('additionalDataGiveUp')" mat-button matStepperPrevious>Nazad</button>
            <button (click)="clicked('additionalData')" [disabled]="fillOutAdditionalData" mat-button matStepperNext>
              Popuni dodatne podatke
            </button>
            <button (click)="createJobAd()" mat-button>Posalji</button>
          </div>
        </form>
      </mat-step>

    </mat-horizontal-stepper>

  </div>

</div>

<div [hidden]="!secondFormClicked" style="padding-right: 3%;float: right;padding-top: 2%;width: 30%;">

  <app-map (DragEnd)="dragEnd($event)" [draggable]="true"
           [latitude]="currentLocation.latitude"
           [longitude]="currentLocation.longitude" [radius]="currentLocation.radius" [showCircle]="false">
  </app-map>

</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  color="#fff"
  size="medium"
  type="ball-atom">
</ngx-spinner>
