<div>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label for="username">Razlog:</mat-label>
      <textarea [formControl]="form.controls.reason" id="description" matInput name="description" placeholder="Razlog za odbijanje."
                rows="5"></textarea>
      <mat-error *ngIf="form.controls.reason.touched && form.controls.reason.errors?.required">
        Ovo polje ne sme biti prazno!
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div>
  <button (click)="submit()" [disabled]="form.invalid" color="primary" mat-raised-button>Posalji</button>
  <button (click)="cancel()" color="primary" mat-raised-button style="margin-left: 2%">Izadji</button>
</div>
