/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html { background-color: #323232; color: snow}

.mat-row:hover {
  background-color: #494a49;
  cursor: pointer;
}

.picture:hover {
  cursor: pointer;
  border: #EEEEEE solid;
}

.background{
  background-image: url(assets/img/background.jpg);
  filter: brightness(30%);
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}
