<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/gym_wallpaper.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">{{getUsername()}}</h3>
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Age</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          <div style="margin-left: 40%; margin-top:2%; margin-bottom:3%;">
                <h1>Make your training plan!</h1>
          </div>
          <div>
              <form [formGroup]="inputForm">
                <div class="row">
                    <mat-form-field style="width: 25%; margin-left: 5%;" appearance="outline">
                        <mat-label>Current weight</mat-label>
                        <input matInput type="number" formControlName="currentWeight">
                      </mat-form-field>
                      <mat-form-field style="width: 25%; margin-left: 5%;" appearance="outline">
                        <mat-label>Goal weight</mat-label>
                        <input matInput type="number" formControlName="goalWeight" >
                      </mat-form-field>
                      <mat-form-field style="width: 25%; margin-left: 5%;" appearance="outline">
                        <mat-label>Program duration</mat-label>
                        <input matInput type="number" formControlName="programDuration" >
                      </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field style="width: 25%; margin-left: 5%;" appearance="outline">
                                <mat-label>Difficulty</mat-label>
                                <mat-select formControlName="difficulty">
                                  <mat-option value="HIGH">High</mat-option>
                                  <mat-option value="MEDIUM">Medium</mat-option>
                                  <mat-option value="LOW">Low</mat-option>
                                </mat-select>
                    </mat-form-field>
                    <mat-form-field style="width: 25%; margin-left: 5%;" appearance="outline">
                        <mat-label>Injuries</mat-label>
                        <mat-select formControlName="injuries" multiple>
                          <mat-option *ngFor="let muscle of muscles" [value]="muscle">{{muscle}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div style="width: 25%; margin-left: 5%; margin-top:2%;">
                        <mat-checkbox formControlName="equipment" >Equipment</mat-checkbox>
                    </div>
                    <div style="width: 25%; margin-left: 5%; margin-top:2%;">
                        <button mat-raised-button (click)="submit()">Search</button>
                    </div>
                </div>
              </form>
          </div>
          <div>
            <div style="width: 25%;float: left;"  *ngFor="let training of trainings">
                <app-single-training  [model]="training"></app-single-training>
            </div>
          </div>
        </div>
    </div>
</div>
