<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/gym_wallpaper.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">{{getUsername()}}</h3>
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Age</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          <div style="margin-left: 40%; margin-top:2%; margin-bottom:3%;">
                <h1>Search diets</h1>
          </div>
          <div>
              <form [formGroup]="inputForm">
                <div class="row">
                    <mat-form-field style="width: 25%; margin-left: 5%;" appearance="outline">
                        <mat-label>kCal from</mat-label>
                        <input matInput type="number" formControlName="kcalFrom">
                      </mat-form-field>
                      <mat-form-field style="width: 25%; margin-left: 5%;" appearance="outline">
                        <mat-label>kCal to</mat-label>
                        <input matInput type="number" formControlName="kcalTo" >
                      </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field style="width: 25%; margin-left: 5%;" appearance="outline">
                        <mat-label>Proteins from</mat-label>
                        <input matInput type="number" formControlName="proteinFrom">
                      </mat-form-field>
                      <mat-form-field style="width: 25%; margin-left: 5%;" appearance="outline">
                        <mat-label>Proteins to</mat-label>
                        <input matInput type="number" formControlName="proteinTo" >
                      </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field style="width: 25%; margin-left: 5%;" appearance="outline">
                        <mat-label>Fats from</mat-label>
                        <input matInput type="number" formControlName="fatFrom">
                      </mat-form-field>
                      <mat-form-field style="width: 25%; margin-left: 5%;" appearance="outline">
                        <mat-label>Fats to</mat-label>
                        <input matInput type="number" formControlName="fatTo" >
                      </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field style="width: 25%; margin-left: 5%;" appearance="outline">
                        <mat-label>Carbs from</mat-label>
                        <input matInput type="number" formControlName="carbsFrom">
                      </mat-form-field>
                      <mat-form-field style="width: 25%; margin-left: 5%;" appearance="outline">
                        <mat-label>Carbs to</mat-label>
                        <input matInput type="number" formControlName="carbsTo" >
                      </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field style="width: 25%; margin-left: 5%;" appearance="outline">
                                <mat-label>Meal type</mat-label>
                                <mat-select formControlName="mealType">
                                  <mat-option value="BREAKFAST">Breakfast</mat-option>
                                  <mat-option value="LUNCH">Lunch</mat-option>
                                  <mat-option value="DINNER">Dinner</mat-option>
                                  <mat-option value="SNACK">Snack</mat-option>
                                </mat-select>
                    </mat-form-field>
                    <div style="width: 25%; margin-left: 5%; margin-top:2%;">
                        <button mat-raised-button (click)="submit()">Search</button>
                    </div>
                </div>
              </form>
          </div>
          <div>
            <div style="width: 25%;float: left;"  *ngFor="let training of trainings">
                <app-single-training  [model]="training"></app-single-training>
            </div>
          </div>
        </div>
    </div>
    <mat-card style="width: 30%;margin-left: 25%;" *ngFor="let meal of meals" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{meal.name}}</mat-card-title>
          <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content>
          <p><b>Meal type: </b> {{meal.mealType}}</p>
          <p><b>KCal: </b> {{meal.kCal}}</p>
          <p><b>Carbon hydrates: </b> {{meal.carbonHydrates}}</p>
          <p><b>Proteins: </b> {{meal.proteins}}</p>
          <p><b>Fats: </b>{{meal.fats}}</p>
          <p><b>Junk %: </b> {{meal.junkPercentage}}</p>
          <p><b>Recipe: </b> {{meal.recipe}}</p>
        </mat-card-content>
      </mat-card>
</div>
