<div style="padding-left:3%;float: left;padding-top: 1%;width:60%">

  <app-table (Click)="onRowClick($event)" [dataSource]="regReqs" [columnsToDisplay]="['Ime',
  'Prezime', 'Email ', 'Adresa', 'Verify', 'Decline']"
             [columnsToIterate]="['firstName', 'lastName', 'email', 'address']"
  (Verify)="verify($event)" (Decline)="decline($event)"></app-table>

</div>

<div style="padding-right: 3%;float: right;padding-top: 1%;width: 32%;">

  <app-map [latitude]="currentLocation.latitude" [longitude]="currentLocation.longitude" [radius]="currentLocation.radius"
  [showCircle]="true"></app-map>

</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-atom">
</ngx-spinner>
