<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/gym_wallpaper.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">{{getUsername()}}</h3>
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Age</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-left: 40%; margin-top:2%; margin-bottom:3%;">
        <h1>Start your training!</h1>
  </div>
<mat-card style="width: 25%;float: left;" *ngFor="let training of trainings"  class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Training</mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>
      <p><b>Rest time: </b> {{training.restTime}} </p>
          <mat-card style="margin-top: 2%;" *ngFor="let session of training.sessions" class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{session.exerciseDTO.name}}</mat-card-title>
            <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <mat-card-content>
            <p><b>Description: </b>{{session.exerciseDTO.description}}</p>
            <p><b>Difficulty: </b> {{session.exerciseDTO.difficulty}}</p>
            <p><b>Category: </b> {{session.exerciseDTO.exerciseCategory}}</p>
            <p><b>Repetitions: </b>{{session.repetitions}}</p>
            <p><b>Weights: </b>{{session.weight}} kg</p>
            <p><b>Duration: </b>{{session.duration}} seconds</p>
            <div *ngIf="!this.trainingRunnning" style="width: 25%; margin-left: 5%; margin-top:2%;">
                <button mat-raised-button (click)="startTraining(session.exerciseDTO.id, session.id)">Start</button>
            </div>
            <div *ngIf="this.trainingRunnning && this.currentSession === session.id"  style="width: 25%; margin-left: 5%; margin-top:2%;">
                <button mat-raised-button (click)="stopTraining()">Stop</button>
            </div>
          </mat-card-content>
      </mat-card>  
    </mat-card-content>
  </mat-card>
</div>
