<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table>
    <ng-container *ngFor="let column of columnsToIterate; let i = index" matColumnDef="{{columnsToDisplay[i]}}">
      <th *matHeaderCellDef mat-header-cell> {{columnsToDisplay[i]}} </th>
      <td (click)="clicked(element.id)" (dblclick)="doubleClicked(element.id)" *matCellDef="let element" id="row{{element.id}}"
          mat-cell> {{column === 'dateWhen' || column === 'publishedDate' ? (element[column] | date) : element[column]}} </td>
    </ng-container>

    <ng-container matColumnDef="Make interest">
      <th *matHeaderCellDef mat-header-cell> Interesovanje</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="makeInterest(element.id)" color="primary" mat-raised-button>Iskazi interesovanje</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Handyman details">
      <th *matHeaderCellDef mat-header-cell> Detalji o majstoru</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="handymanDetails(element.id)" color="primary" mat-raised-button>Detalji</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Handyman details interest">
      <th *matHeaderCellDef mat-header-cell> Detalji o majstoru</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="handymanDetails(element.handymanId)" color="primary" mat-raised-button>Detalji</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Make a job deal">
      <th *matHeaderCellDef mat-header-cell> Dogovori posao</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="makeJobDeal(element.id)" color="primary" mat-raised-button>Dogovori</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Finish job">
      <th *matHeaderCellDef mat-header-cell> Zavrsi posao</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="finishJob(element.id)" [disabled]="element.finished === 'Da'" color="primary"
                mat-raised-button>Zavrsi
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Rate job">
      <th *matHeaderCellDef mat-header-cell> Ocena posla</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="rateJob(element.id)" [disabled]="element.finished === 'Ne' || element.rated" color="primary"
                mat-raised-button>Oceni
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Verify">
      <th *matHeaderCellDef mat-header-cell> Verifikacija</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="verify(element.id)" color="primary" mat-raised-button>Verifikuj</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Decline">
      <th *matHeaderCellDef mat-header-cell> Odbijanje</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="decline(element.id)" color="primary" mat-raised-button>Odbij</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Pictures">
      <th *matHeaderCellDef mat-header-cell> Slike</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="viewPics(element.pictures)" color="primary" mat-raised-button>Vidi slike</button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columnsToDisplay;" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
