<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="{{columnsToDisplay[i]}}" *ngFor="let column of columnsToIterate; let i = index">
      <th mat-header-cell *matHeaderCellDef> {{columnsToDisplay[i]}} </th>
      <td id="row{{element.id}}" mat-cell *matCellDef="let element" (click)="clicked(element.id)" (dblclick)="doubleClicked(element.id)"> {{column==='dateWhen' ? (element[column] | date) : element[column]}} </td>
    </ng-container>

    <ng-container matColumnDef="Make interest">
      <th mat-header-cell *matHeaderCellDef> Make interest </th>
      <td mat-cell *matCellDef="let element">  <button mat-raised-button color="primary" (click)="makeInterest(element.id)">Make interest</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Handyman details">
      <th mat-header-cell *matHeaderCellDef> Handyman details </th>
      <td mat-cell *matCellDef="let element">  <button mat-raised-button color="primary" (click)="handymanDetails(element.id)">Handyman details</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Make a job deal">
      <th mat-header-cell *matHeaderCellDef> Make a job deal </th>
      <td mat-cell *matCellDef="let element">  <button mat-raised-button color="primary" (click)="makeJobDeal(element.id)">Make a job deal</button>
      </td>
    </ng-container>

    <tr  mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
