<div class="page-header clear-filter">
    <div class="page-header-image" style="background-image:url(assets/img/landing_background.jpg);filter: brightness(30%);"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" method="" action="">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="assets/img/logo.png" alt="">
                            
                        </div>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="submit">
                        <h2 >Sign up!</h2>
                        <div class="content">
                            <div>
                                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                                    </div>
                                    <input type="text" formControlName="username" class="form-control" placeholder="Username..." (focus)="focus=true" (blur)="focus=false" >
                                </div>
                                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                                    </div>
                                    <input type="password" formControlName="password" placeholder="Password..." class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
                                </div>
                                
                                
                            </div>
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus2===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">  <i class="now-ui-icons text_caps-small"></i></span>
                                </div>
                                <input type="text" formControlName="firstName" class="form-control" placeholder="First name..." (focus)="focus2=true" (blur)="focus2=false" >
                            </div>
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus3===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                                </div>
                                <input type="text" formControlName="lastName" placeholder="Last name..." class="form-control" (focus)="focus3=true" (blur)="focus3=false"/>
                            </div>
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus4===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">  <i class="now-ui-icons text_caps-small"></i></span>
                                </div>
                                <input type="text" formControlName="age" class="form-control" placeholder="Age..." (focus)="focus4=true" (blur)="focus4=false" >
                            </div>
                            <div>
                                <button (click)="submit()" type="submit" style="width: 50%;" class="btn btn-primary">Sign up</button>
                            </div>    
                        </div>            
 
                    </form>
                </form>
            </div>
        </div>
    </div>
    <ngx-spinner
                                bdColor="rgba(51,51,51,0.8)"
                                size="medium"
                                color="#fff"
                                type="ball-atom">
                                <p style="font-size: 20px; color: white">Stay tuned, we're signing you in...</p>
    </ngx-spinner>
    <footer class="footer">
        <div class="container">
            <div class="copyright">
                &copy;
              {{data | date: 'yyyy'}}, Designed by Come and Vule
            </div>
        </div>
    </footer>
</div>
