<h1 class="mat-display-1;" style="text-align: center;  margin-top: 1%;">Prijava</h1>
<mat-divider></mat-divider>

<div style="display: block; text-align: center; margin: 10%;">
  <br>
  <form [formGroup]="form"  (ngSubmit)="submit()" style="display: inline-block; width: 100%">
    <div>
      <mat-form-field>
        <mat-label for="username">Email:</mat-label>
        <input matInput id="email" name="email" placeholder="email" [formControl]="form.controls.email">
        <mat-error *ngIf="form.controls.email.touched && form.controls.email.errors?.required">
          Ovo polje ne sme biti prazno!</mat-error >
        <mat-error *ngIf="form.controls.email.errors?.email && form.controls.email.touched"> Email nije validan </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label for="password">Lozinka:</mat-label>
        <input matInput  type="password" id="password" name="password" placeholder="Lozinka" [formControl]="form.controls.password">
        <mat-error *ngIf="form.controls.password.touched && form.controls.password.errors?.required">
          Ovo polje ne sme biti prazno!</mat-error>
      </mat-form-field>
    </div>

    <div>
      <button color="accent" mat-raised-button type="submit" id="sign-in-button" [disabled]="!form.valid">Uloguj se</button>
    </div>
  </form>
  <div style="padding-top: 2%">
    <h6>
      <button mat-stroked-button color="accent" (click)="createAccount()" class="accountButton">Nemas nalog? Registruj se!</button>
    </h6>
  </div>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-atom">
  </ngx-spinner>
</div>
<footer class="mat-footer-cell" style="float: right; padding-right: 2%; padding-top: 2%">
  <div>
    <div class="copyright">
      &copy;
      {{data | date: 'yyyy'}}, Developed by <a href="assets/cv/Milorad's%20Resume.pdf" download>Come</a>
    </div>
  </div>
</footer>
