<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/gym_wallpaper.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">{{getUsername()}}</h3>
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Age</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-left: 40%; margin-top:2%; margin-bottom:3%;">
        <h1>Make new exercises!</h1>
  </div>
  <div>
    <form [formGroup]="inputForm">
      <div class="row">
          <mat-form-field style="width: 20%; margin-left: 5%;" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field style="width: 20%; margin-left: 5%;" appearance="outline">
              <mat-label>Description</mat-label>
              <input matInput type="text" formControlName="description" >
            </mat-form-field>
            <mat-form-field style="width: 20%; margin-left: 5%;" appearance="outline">
              <mat-label>Used muscles</mat-label>
              <mat-select formControlName="muscleList" multiple>
                <mat-option *ngFor="let muscle of muscles" [value]="muscle">{{muscle}}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field style="width: 20%; margin-left: 5%;" appearance="outline">
            <mat-label>Difficulty</mat-label>
              <mat-select formControlName="difficulty">
              <mat-option value="HIGH">High</mat-option>
              <mat-option value="MEDIUM">Medium</mat-option>
              <mat-option value="LOW">Low</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 20%; margin-left: 5%;" appearance="outline">
            <mat-label>Exercise Category</mat-label>
              <mat-select formControlName="exerciseCategory">
                <mat-option value="WEIGHT_LOSS">Weight loss</mat-option>
                <mat-option value="MASS_GAIN">Mass gain</mat-option>
                <mat-option value="ALL">All</mat-option>
              </mat-select>
          </mat-form-field>
          <div style="width: 20%; margin-left: 5%; margin-top:2%;">
            <mat-checkbox formControlName="equipment" >Equipment</mat-checkbox>
        </div>
          <div style="width: 20%; margin-left: 5%; margin-top:2%;">
              <button mat-raised-button (click)="addExercise()">Add</button>
          </div>

    </div>
    </form>
</div>
</div>
